body{
    --nav-load-time : 300ms;
    --nav-link-load-time : 500ms;
    margin: 0;
    font-family: font-family: "Poppins", sans-serif;
}
#logo{
    width: 150px;
}
nav{
    display: flex;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(rgb(24, 20, 20),rgb(54, 38, 38));
    color: white;
    position: fixed;
    animation: nav-load var(--nav-load-time) ease-in forwards;
}
nav ul{
    display: flex;
    justify-content: center;
    margin: 0;
}
nav ul li{
    padding: 10px 15px;
    background-color: orangered;
    border-radius: 5%;
    margin-bottom: 1%;
    margin-top: 1.4%;
    list-style: none;
    margin-left: 700px;
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-delay: var(--nav-load-time); 
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    transform: scale(0);
}
nav ul li:first-child{
    animation-name: nav-first-link-load;
}
nav ul li:nth-child(2){
    margin-left: 70px;
}
nav ul li:nth-child(3){
    animation-name: nav-last-link-load;
    margin-left: 70px;
}


li a{
    text-decoration: none;
    color: whitesmoke;
}
h1{
    font-size: 50px;
}
.text-color{
    color: orange;
}

#order-food{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}
.half-side{
    width: 50%;
}
.fine-text{
    font-size: 22px;
    margin-bottom: 30px;
}
.fine-text2{
    margin-top: 70px;
    font-size: 20px;
    margin-bottom: 60px;
}
.img1{
    width: 80%;
}
.text-side{
    margin-left: 5%;
    margin-top: 5%;
    padding-right: 2%;
}
.btn1{
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 10px 40px;
    background-image: linear-gradient(orange,tomato);
    color: white;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
#about-me{
    background-image: url(image/bg.png);
    display: flex;
    margin-bottom: 50px;
}
.my-img{
    margin-left: 10%;
    width: 30%;
}
#recipie{
    text-align: center;
}
#items{
    display: flex;
    justify-content: center;
    align-items: center;
}
#items .item{
    border-radius: 10%;
    flex-direction: column;
    width: 25%;
    margin-left: 5%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.img2{
    margin-top: 3%;
}
.img3{
    border-radius: 10%;
    width: 250px;
    height: 250px;
}
.recipi-text{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 3%;
}
#footer{
    text-align: center;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgb(32, 29, 29),black);
}
.foot{
    padding-top: 20px;
}

@keyframes nav-load{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes nav-link-load{
    0%{
        transform: scale(0);
    }
    90%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes nav-first-link-load{
    0%{
        transform: translateX(-1000%);
    }
    90%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes nav-last-link-load{
    0%{
        transform: translateX(1000%);
    }
    90%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
}